<div class="wrap"><h1>Seat Yourself</h1>

<% @restaurants.each do |restaurant| %>
<div class="box">

	<div style="float: left">
		<img src="<%= restaurant[:url] %>" style="height: 75px; width: 80px; margin-right: 15px; border: 2px solid black"/>
	</div>


	<b style="font-size: 18px"><%= link_to restaurant[:name], "/restaurants/#{restaurant.id}" %></b></br>
	<%= restaurant[:address] %></br>
	<i>Category:</i> <%= restaurant[:category] %></br>
	<%= restaurant[:summary][0..50] %>...[see more]


</div>

<% end %>
</div>