<div class="wrap">
<h2><%= @restaurant[:name] %></h2>
<button style="margin-top: -30px"> <%= link_to "Back to Restaurants", restaurants_path %></button>
<button style="margin-top: -30px"> <%= link_to "Edit Restaurant", edit_restaurant_path %></button></br>


	<section>
		<b>Address: </b><%= @restaurant[:address] %></br>
		<b>Category: </b><%= @restaurant[:category] %></br>
		<img src="<%= @restaurant[:url] %>"/>
		<div class="border"> <b>Summary: </b><%= @restaurant[:summary] %></div>
	</section>

	<% if current_guest %>
		<em><h3>Make a Reservation</h3></em>
		<%= form_for([@restaurant, @reservation]) do |f| %>
		<div class="field">
			<b><%= f.label "Date: " %></b>
			<%= f.datetime_select :time, order: [:year, :month, :day] %>
		</div>
		<div class="field">
			<b><%= f.label "Number of guests: " %></b>
			<%= f.number_field :number_of_guests %>
		</div>
		<div class="border"></div>
		<div class="actions">
			<%= f.submit %>
		</div></br>
		<% end %>
		<% end %>
</div>